.converter{
    margin: 0 auto;
}
.gpa_to_percentage{
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 3rem;
}
.gpa_to_percentage > div >label{
    font-size: 1.5rem;
    margin: 5px;
}
.gpa_to_percentage > div >span{
    font-size: 2rem;
}
.gpa_to_percentage > div >input{
    display: block;
    padding: 10px;
    font-size: 20px;
    margin: 20px;
}

@media only screen and (max-width: 600px){
    .gpa_to_percentage{
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-top: 3rem;
    }
    .gpa_to_percentage > div >label{
        font-size: 1rem;
        margin: 5px;
    }
    .gpa_to_percentage > div >span{
        font-size: 1.2rem;
    }
    .gpa_to_percentage > div >input{
        display: block;
        padding: 5px;
        font-size: 14px;
        margin: 20px;
    }
    
}