:root {
  /* colors */
  --background-color: #f2f2f2;
  --navbar-color: #bdbdbd;
  --nav-link: #2d9cdb;
  --level-dropdown-bg: #2d9cdb;
  --sub-type-bg: #2d9cdb;
  --download: #2d9cdb;
  /* font-family */
  --nav: arial;
  --notice: "century-gothic";
  --text: "trebuchet ms";
}
/* configure tailwind css */
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* end configuring tailwind css */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* end google fonts */
* {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}


